<!DOCTYPE html>
<html lang="{{ .Site.Language }}">

<head>
	<title>{{ if not .IsHome }}{{ .Title | title }} | {{ end }}{{ .Site.Title }}</title>
	<link rel="canonical" href="{{ .Site.BaseURL }}">
	<link rel='alternate' type='application/rss+xml' title="{{ .Site.Title }} RSS" href='/index.xml'>
	<link rel='stylesheet' type='text/css' href='/style.css'>

	<link rel="icon" href="favicon.svg">
	<meta name="description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}">
	{{ if isset .Params "tags" }}
	<meta name="keywords" content="{{ with .Params.tags }}{{ delimit . " , " }}{{ end }}">
	{{ end -}}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="index, follow">
	<meta charset="utf-8">
</head>

<body>
	{{ if not .IsHome }}
	<a href="{{ .Site.BaseURL }}" class="🏠">🏠</a>
	{{ end }}
	{{ if .Site.Menus.main }}{{ partial "nav.html" . }}{{ end -}}
	<main>
		<header>
			<h1 id="tag_{{ .Title }}">{{ block "title" . }}{{ end }}</h1>
		</header>
		<!-- {{ if not .IsHome }}
		<aside>
			{{.TableOfContents}}
		</aside>
		{{ end }} -->
		<article>
			{{ block "main" . }}
			{{ .Content }}
			{{ end }}
			{{ if .Param "nextprev" }}{{ partial "nextprev.html" . -}}{{ end -}}
			{{ if .Param "taglist" }}{{ partial "taglist.html" . }}{{ end -}}
		</article>
	</main>

	{{ block "footer" . }}
	<footer>
		<a href="{{ .Site.BaseURL }}">
			{{ if .IsHome }}
			{{ .Site.BaseURL }}
			{{ else }}
			🏠 Home page
			{{ end }}
		</a>
		{{ if .IsHome }}
		|
		<a href="https://github.com/jptrzy/jptrzy.github.io">source ㊙️</a>
		{{ end }}
	</footer>

	{{ end }}
</body>

</html>